shortcuts/xfce4/panel/whiskermenu-8.rc
shortcuts/xfce4/xfconf/xfce-perchannel-xml/thunar.xml
shortcuts/xfce4/xfconf/xfce-perchannel-xml/xfce4-notifyd.xml
shortcuts/xfce4/xfconf/xfce-perchannel-xml/xfce4-panel.xml
